# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ Popular languages that Data Scientists use
+ Commonly used libraries used by Data Scientists
+ Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. C++
3. Java4. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow
4. Matplotlib

| Data Science Tools |
| ------------------ |
| Apache Hadoop |
| TensorFlow |
| Apache Spark |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [17]:
#Create a code cell to convert minutes to hours

minutes = 200
hour = minutes/60

print(hour)

3.3333333333333335

## Author
Shashank